@model EmployeeManagementSystem.Data.Models.EmployeeInfo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EmployeeInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QrCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QrCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChineseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChineseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PHAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PHAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomicileAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomicileAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EducationalAttainment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EducationalAttainment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CivilStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CivilStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseMidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseMidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseOccupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseOccupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseBirthPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseBirthPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalIdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalIdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RFIDNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFIDNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TinNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TinNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSSNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSSNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePicturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeePicturePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignaturePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignaturePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RightThumbPrintPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RightThumbPrintPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeftThumbPrintPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeftThumbPrintPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateResigned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateResigned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExitDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExitDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatherMidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatherMidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MotherMidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MotherMidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
