@model IEnumerable<EmployeeManagementSystem.Data.Models.EmployeeInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QrCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmploymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChineseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DomicileAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationalAttainment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CivilStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseBirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseOccupation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpouseBirthPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Religion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalIdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFIDNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SSSNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeePicturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignaturePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RightThumbPrintPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeftThumbPrintPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateResigned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MotherMidName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QrCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmploymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChineseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DomicileAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationalAttainment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CivilStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseBirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseOccupation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpouseBirthPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Religion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalIdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFIDNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SSSNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeePicturePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignaturePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RightThumbPrintPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeftThumbPrintPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateResigned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotherMidName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
