@model EmployeeManagementSystem.Data.Models.Sites

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sites</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiteStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiteStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
