@model IEnumerable<EmployeeManagementSystem.Data.Models.Sites>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SiteCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SiteStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Sites</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiteCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiteStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.SiteId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.SiteId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.SiteId">Delete</a>*@
                <a asp-action="AddOrEdit" asp-route-id="@item.SiteId"><i class="fa fa-marker fa-lg"></i></a>
                <a asp-action="Delete" asp-route-id="@item.SiteId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
